
# a) temp files on Mac OS
.DS_Store


# b) result pdf files
book.pdf
book-a5.pdf


# c) all text files
/songs/*.txt


# d) content except examples

#/songs/отрядные/*
#!/songs/отрядные/3_Юлина\ песня.tex
#!/songs/отрядные/4_Туда.tex

#/songs/сачок/*
#!/songs/сачок/Гимн\ CСО\ Лэти.tex

#/songs/лагерные/*
#!/songs/лагерные/Алые\ паруса\ 2.tex

#/songs/всеми\ любимые/*
#!/songs/всеми\ любимые/Белая\ гвардия\ (Белая\ гвардия).tex

